
		 <!--コンテンツ全て。 -->
		<div class="contents_answer">
		 <!-- リザルト画面主要部分。-->
			<div class="page">
			  <h2>完飲</h2>
				<!---GIF部分。-->
				<div class="image">
				</div>
				<!---リザルト画面部分。-->
				<div class="result">
                    <form>
                    	<p>結果</p>
                    	<textarea><%= simple_format @jiro_copype %></textarea>
                    </form>
				</div>
				<!---テクスト部分。-->
				<div class="text">
					<p class="success">
						完飲成功....
					</p>
			    </div>
<%= form_for @article do |f|%>

	<%= f.hidden_field :title, :value =>"タイトル" %>

	<%= f.hidden_field :body, :value =>"コピペ" %>
	<%= f.text_field :user_name %>
	<%= f.password_field :password %>
	<%= f.submit "artcle" %>

<% end -%>
				<!---ボタン部分。-->
		        <div class="button">
					<ul class="menu clearfix">
						<li class="archive"><a href="#">アーカイブ</a></li>
						<li class="regenerator"><a href="#">再ジェネレート</a></li>
					</ul>
			    </div>
                <!---いいね部分。-->
			    <div class="share">
				</div>
			</div>
		</div>

<%= link_to "articles", articles_path %>

<br>



<br>
シェア


<%= link_to "http://twitter.com/home?status=#{"ここにコピペ"}" do %>

<i class="fab fa-twitter-square fa-w-14 fa-5x" ></i>
<% end -%>


<!-- 参考= link_to "tweet me", "http://twitter.com/home?status=#{@post.short_name} #{post_url(@post)}" -->

<%= link_to 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank  do%>
<i class="fab fa-facebook-square fa-w-14 fa-5x"></i>
<% end -%>



<br>


  <%= link_to "コピペ集", articles_path %>
  <%= link_to "TOP", root_path %> 




<!-- FB後で！！！ -->
<%= link_to('Share on Facebook', 'https://www.facebook.com/dialog/feed?
	link=https://developers.facebook.com/docs/reference/dialogs/&
	picture=http://fbrell.com/f8.jpg&
	name=Facebook%20Dialogs&
	caption=Reference%20Documentation&
	description=Using%20Dialogs%20to%20interact%20with%20users.&
	redirect_uri=https://mighty-lowlands-6381.herokuapp.com/',
	:target => :blank) %>


	<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

	<meta property="og:title" content="記事のタイトル" />
	<meta property="og:type" content="article" /> 
	<!-- トップページはwebsite、個別ページはarticle -->
	<meta property="og:description" content="記事の説明" />
<!-- <meta property="og:url" content="記事のURL" />
-->
<meta property="og:site_name" content="genejiro" />
<meta property="og:locale" content=ja /> 
<meta property="fb:app_id" content="391278084717491" />


