
<!--コンテンツ全て。 -->
<div class="contents_answer">
	<!-- リザルト画面主要部分。-->
	<div class="page">
		<h2>完飲</h2>
		<!---GIF部分。-->
		<div class="image"></div>
		<!---リザルト画面部分。-->
		<div class="result">
			<form>
				<p>結果</p>
				<div><%= simple_format @jiro_copype, class:"copype_text" %></div>
			</form>
		</div>
		<!-- -------------tab----------------- -->
		<div class="tabmenu">
			<!-- tabボタン部分 -->
			<ul>
				<li id="left" class="selected">アーカイブに保存</li>
				<li id="right">SNS共有</li>
			</ul>
			<!-- テクスト？ -->
			<div class="tab">
				<div class="left">
					<%= form_for @article, :html => { :class => "form-group form-field"} do |f|%>
						<%= f.hidden_field :body, :value =>@jiro_copype %>
						<label for="exampleInputEmail1">ニックネーム</label>
						<%= f.text_field :user_name, class: "form-control"%><br>
						<small id="emailHelp" class="form-text text-muted">削除用パスワードを入力してください</small>
						<%= f.password_field :password, class: "form-control" %>
						<%= f.submit "投稿",class: "btn btn-dark pull-right submit_btn" %>
					<% end -%>
				</div>
				<div class="right">
					<%= link_to "http://twitter.com/home?status=#{url_for(only_path: false)}" do %>
						<%= fa_icon "twitter", class:"fab fa-twitter-square fa-w-14 fa-5x"%>
					<% end -%>
				</div>
			</div>
		</div>
		<!-- -----------------tab fin------------------ -->
		<!---テクスト部分。-->
		<div class="text">
			<p class="success">
				完飲成功....
			</p>
		</div>
		<!---ボタン部分。-->
		<div class="button">
			<ul class="menu answer_menu clearfix">
				<li class="archive"><%= link_to "アーカイブ", articles_path %></li>
				<li class="regenerator"><%= link_to "TOP", root_path %> </li>
			</ul>
		</div>
		<!---いいね部分。-->
		<div class="share"></div>
	</div>
</div>
