		 <!--コンテンツ全て。 -->
		 <div class="contents_archive">
		 	<!-- アーカイブ主要部分。-->
		 	<div class="page">
		 		<!-- 上部テクスト部分。-->
		 		<div class="head_text">
		 			<h2>兵たちが夢のあと...</h2><br>
		 			<hr>
		 			<p>ジロリアン達による歴戦の架空コピペ投稿が見れます。</p>
		 		</div>
		 		<!-- ポスト大枠部分。-->
		 		<div class="timeline">
		 			<!-- 個別ポスト部分。-->
		 			
						<% @articles.each do |article| %>
						<div class="post">
							<%=link_to article.created_at.strftime('%Y.%m.%d'), article_path(article.id) %><br>
							<%= article.body %><br>
							<%= article.user_name %><br>

							<!-- いいね -->
							<!---いいね部分。-->

							<%#= link_to article_favorites_path(article_id: article.id), method: :post do %>
							<% if session[:id] == nil %>
							<%#= binding.pry %>
							<%= link_to article_favorites_path(article_id: article.id), method: :post do %>
							<div class="share_archive_fav"></div>
							<% end %>
							<% if article.favorite %>
							<%= article.favorite.count %> 杯
							<% end %>

							<% else %>
							<%= link_to article_favorites_path(article_id: article.id), method: :delete do %>
							<div class="share_archive"></div>
							<% end %>
							<% if article.favorite %>
							<%= article.favorite.count %> 杯
							<% end %>

							<% end -%>


							<!-- モーダル -->
							<div id="orver">
								<div id="wrap">
									<div id="contents">
										<a id="modal-open" class="button-link">削除</a>
									</div>
								</div> 
							</div> 

							<!-- ここからモーダルウィンドウ -->
							<div id="modal-content">
								<div id="modal-content-innar">
									<!-- モーダルウィンドウのコンテンツ開始 -->
									<p class="red bold">
										<p>削除用のパスワードを入力してください</p>
										<%= form_tag(article, :url => {:controller => :articles, :action => :destroy}, :method => :delete) do %>
										<%= text_field_tag :password %>
										<%= submit_tag "削除"%>
										<% end %>

										<p><a id="modal-close" class="button-link">閉じる</a></p>
									</p>
								</div>
								<!-- モーダルウィンドウのコンテンツ終了 -->
							</div>	
						</div>
		 			<% end %>
		 			<%= paginate @articles %>
		 		</div>
		 	<!-- ボタン部分。-->
		 		<div class="button">
					<ul class="menu clearfix">
						<li>
							<%= link_to "TOPへ戻る", root_path, class: "regenerator_2" %>
						</li>
					</ul>
			    </div>	
		 	</div>
		</div>