<!--コンテンツ全て。 -->
<div class="contents_archive">
	<!-- アーカイブ主要部分。-->
	<div class="page">
		<!-- 上部テクスト部分。-->
		<div class="head_text">
			<h2>兵たちが夢のあと...</h2><br>
			<hr>
			<p>ジロリアン達による歴戦の架空コピペ投稿が見れます。</p>
		</div>
		<!-- ポスト大枠部分。-->
		<div class="timeline">
			<!-- 個別ポスト部分。-->
			<% @articles.each do |article| %>
			<div class="post">
				<p class="index_p">作成日時: </p><%=link_to article.created_at.strftime('%Y.%m.%d'), article_path(article.id) %><br>
				<p class="index_p">架空の本文: </p><%= simple_format(article.body) %><br>
				<p class="index_p">ニックネーム: </p><%= article.user_name %><br>
				<!---いいね部分。-->
				<%= render partial: "favorites/favorite", locals: { article: article } %>

				<!-- モーダル -->
				<a data-target="<%= article.id %>" class="modal-open">削除</a>

				<div id="<%= article.id %>" class="modal-content">

					<p>削除用のパスワードを入力してください</p>
					<%= form_tag(article, :url => {:controller => :articles, :action => :destroy}, :method => :delete) do %>
					<%= text_field_tag :password %>
					<%= hidden_field_tag :id, value: article.id %>
					<%= submit_tag "削除" %>
					<% end %>
					<p><a class="modal-close">閉じる</a></p>

				</div>

			</div>
			<% end %>
			<%= paginate @articles %>
		</div>

		<!-- ボタン部分。-->
		<div class="button">
			<ul class="menu clearfix">
				<li>
					<%= link_to "TOPへ戻る", root_path, class: "regenerator_2" %>
				</li>
			</ul>
		</div>	
	</div>
</div>