 <!--コンテンツ全て。 -->
 <div class="contents_detail">
 	<!-- アーカイブ主要部分。-->
 	<div class="page">
 		<!-- 上部テクスト部分。-->
 		<div class="head_text">
 			<h2>詳細</h2><br>
 			<hr>
 		</div>
 		<!-- ポスト大枠部分。-->
 		<div class="timeline_detail">
 			<!-- 個別ポスト部分。-->
 			<div class="post_detail">
			 	<%= @article.created_at.strftime('%Y.%m.%d')%>
 				<%= label :body, @jiro_copype %>：
 				<br>
 				<%= @article.body%>
 				<br>
 				<%= label :user_name, "ユーザー名" %>：
 				<br>
 				<%= @article.user_name %>
 			</div>
 		</div>
 		<!-- ボタン部分。-->
 		<div class="button">
 			<ul class="menu clearfix">
 				<li>
				 	<%= link_to "TOPへ戻る", root_path, class: "regenerator_2" %>
 				</li>
 			</ul>
 		</div>	
 	</div>
 </div>

