<!DOCTYPE html>
<html>
<head>
  <title>JirokkasonRails</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag() %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width",user-scalable=yes/>
</head>
  <body>
    <!-- /header -->
    <header>
      <%= link_to root_path do %><h1 class="wow wobble" style="font-size: 40px;">ジェネ二郎</h1><% end %>
      <hr>
    </header>
    <%= yield %>
    <footer>
      <div class="banner"></div>
    </footer>
    <script>
      new WOW().init();
    </script>
  </body>
</html>