<!DOCTYPE html>
<html>
  <head>
    <title>JirokkasonRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="css/modal.css" rel="stylesheet">
<script src="js/modal.js"></script>
  </head>

  <body>

    <%= yield %>
    <%= link_to "コピペ集", articles_path %>
    <%= link_to "TOP", root_path %>   
  </body>
</html>
